{
    "Oracle Database":{
        "connection_string":"oracle+cx_oracle://user:password@host",
        "table_name_query":"SELECT TABLE_NAME FROM USER_TABLES WHERE TABLE_NAME LIKE '{table_like}'",
        "datatypes_query":"SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE, DATA_LENGTH FROM ALL_TAB_COLUMNS WHERE TABLE_NAME = '{table_name}'"
    },
    "Oracle Database In-Memory":{
        "connection_string":"oracle+cx_oracle://user:password@host",
        "table_name_query":"SELECT TABLE_NAME FROM USER_TABLES WHERE TABLE_NAME LIKE '{table_like}'",
        "datatypes_query":"SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE, DATA_LENGTH FROM ALL_TAB_COLUMNS WHERE TABLE_NAME = '{table_name}'",
        "alter_table_query":"ALTER TABLE \"{table_name}\" INMEMORY"
    },
    "SQL Server":{
        "connection_string":"mssql+pymssql://user:password@host",
        "table_name_query":"SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME LIKE '{table_like}'",
        "datatypes_query":"SELECT COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, NUMERIC_PRECISION, DATETIME_PRECISION, IS_NULLABLE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{table_name}'"
    },
    "HANA":{
        "connection_string":"hana://user:password@host:30015",
        "table_name_query":"SELECT TABLE_NAME FROM TABLES WHERE SCHEMA_NAME = '%' AND TABLE_NAME LIKE '{table_like}'",
        "datatypes_query":"SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE_NAME AS DATA_TYPE, LENGTH AS DATA_LENGTH FROM TABLE_COLUMNS WHERE TABLE_NAME = '{table_name}'",
        "alter_table_query":"ALTER TABLE \"{table_name}\" COLUMN"
    },
    "Hive":{
        "connection_string":"hive://user:password@host:10000/database",
        "table_name_query":"SHOW TABLES LIKE '{table_like}*'",
        "datatypes_query":"DESCRIBE FORMATTED '{table_name}'"
    }
}
