<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>



        {{ custom_script_here }}
    </head>
    <body class="bk-body">
      <h1><img src="http://bokeh.pydata.org/en/latest/_static/images/logo.png" class="logo">Some heading here</h1>
        <p>
        blah blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah
        </p>
        <p>
        {{ custom_div_here }}
        </p>
        <p>
        blah blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah
        </p>
        {{ plot_div|indent(8) }}
        <br />
        <br />
        <p>
        ah blah blahblah blah blahblah blah blahblah blah blahblah
        </p>
        {{ bokeh_js }}
        {{ plot_script|indent(8) }}
    </body>
</html>